body {
  display: flex;
  margin: 0;
  flex-direction: column;
  background-image: linear-gradient(to top, #b3ffab 0%, #12fff7 100%);
  font-family: Helvetica;
  min-heigth: 100vh;
}

main{
  flex-basis: 100vh;
  align-self: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

main header{
  padding-rigth: 1em;
  padding-left: 1em;
}

main div.option{
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 1em;
  transform: scale(1.2);
}

main span {
  color: #122A5E;
}

main button.btn {
  outline: none;
  border: none;
  cursor: pointer;
  display: block;
  position: relative;
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  font-size: 16px;
  font-weight: 300;
	color: white;
  text-transform: uppercase;
	letter-spacing: 2px;
  padding: 25px 80px;
  margin: 0 auto;
  box-shadow: 0 6px #122A5E;
  border-radius: 20px;
}

main button.btn:hover {
	box-shadow: 0 4px #122A5E;
	top: 2px;
}

main button.btn:active {
	box-shadow: 0 0 #517fa4;
	top: 6px;
}
